@use 'variables' as v;
@use 'mixins' as m;

a{
    font-size: 1.1rem;
}
h1{
    font-size: 3.85em;
    line-height: 1.2em;
    @include m.television{
        font-size: 3em;
    }
    @include m.desktop{
        font-size: 2.6em;
    }
    @include m.tablet{
        font-size: 2.3em;
    }
    @include m.telefono{
        font-size: 1.8em;
    }
}
h2{
    font-size: 2.85em;
    line-height: 1.2em;
    font-family: v.$bold;
    @include m.television{
        font-size: 2.4em;
    }
    @include m.desktop{
        font-size: 2.1em;
    }
    @include m.tablet{
        font-size: 1.9em;
    }
    @include m.telefono{
        font-size: 1.6em;
    }
    &.up{
        font-size: 3em;
        @include m.television{
            font-size: 2.75em;
        }
        @include m.desktop{
            font-size: 2.2em;
        }
        @include m.tablet{
            font-size: 2em;
        }
        @include m.telefono{
            font-size: 1.8em;
        }
    }
    &.down{
        font-size: 2.2em;
        @include m.television{
            font-size: 2em;
        }
        @include m.desktop{
            font-size: 1.8em;
        }
        @include m.tablet{
            font-size: 1.7em;
        }
        @include m.telefono{
            font-size: 1.5em;
        }
    }
}
h3{
    font-size: 1.65em;
    line-height: 1.2em;
    @include m.television{
        font-size: 1.4em;
    }
    @include m.desktop{
        font-size: 1.3em;
    }
    @include m.tablet{
        font-size: 1.2em;
    }
    @include m.telefono{
        font-size: 1.1em;
    }
}
p{
    font-size: 1.1rem;
    @include m.television{
        font-size: 1rem;
    }
    @include m.tablet{
        font-size: 0.925rem;
    }
    @include m.telefono{
        font-size: 0.9rem;
    }
}