@use "base/mixins" as m;
@use "base/variables" as v;

body{
    &.page-template-departamentos-en-venta,
    &.page-template-blog,
    &.single-departamento,
    &.page-template-proximos-proyectos,
    &.page-template-proyectos-entregados,
    &.page-template-front-page{
        background: url(../../images/inicio/fondo_inicio.png) no-repeat fixed center;
        background-size: cover;
    }
}

main{
    height: calc(101vh - 132px);
    @include m.television{
        height: calc(101vh - 120px);
    }
    @include m.desktop{
        height: calc(101vh - 100px)
    }
    @include m.flex(center, 0);
    .splide{
        img{
            object-fit: cover;
            object-position: bottom;
        }
        &__slide{
            position: relative;
        }
    }
    .ubication{
        top: 30px;
        right: 30px;
        @media (max-width: 660px){
            top: 16px;
            right: 16px;
        }
    }
    .contenedor{
        position: absolute;
        z-index: 2;
        p{
            color: v.$blanco;
            font-family: v.$heavy;
            font-size: 2rem;
            text-align: center;
            margin: 2rem 0 4rem;
            @include m.television{
                font-size: 1.8rem;
                margin: 2rem 0 4.5rem;
            }
            @include m.desktop{
                margin: 2rem 0;
                font-size: 1.6rem;
            }
            @media (max-width: 660px){
                margin: 1.85rem 0;
                font-size: 1.4rem;
            }
        }
        a{
            @include m.boton(58px, 1.4rem);
            @include m.max_width(370px);
            margin-inline: auto;
            @include m.television{
                @include m.boton(52px, 1.25rem);
                @include m.max_width(320px);
            }
            @include m.desktop{
                @include m.boton(48px, 1.15rem);
                @include m.max_width(270px);
            }
            @media (max-width: 660px){
                @include m.boton(44px, 1.05rem);
                @include m.max_width(230px);
            }
        }
    }
    h1{
        user-select: none;
        -webkit-user-drag: none;
        span{
            color: v.$blanco;
            display: block;
            font-family: v.$ampleBold;
            @include m.text-shadow;
            font-size: 5rem;
            @include m.television{
                font-size: 4rem;
            }
            @include m.desktop{
                font-size: 3.2rem;
            }
            @media (max-width: 660px){
                font-size: 2.45rem;
                margin: 0 !important;
            }
            &:last-child{
                color: v.$verde;
            }

            &:nth-child(2){
                margin-left: 50px;
                @include m.desktop{
                    margin-left: 5px;
                }
            }
            &:nth-child(3){
                margin-left: 100px;
                @include m.desktop{
                    margin-left: 10px;
                }
            }
        }
    }
}

.ubication{
    @include m.flex(center, 0);
    flex-direction: column;
    align-items: flex-end;
    div{
        border-radius: 0 20px 0 20px;
        width: fit-content;
        p{
            font-family: v.$heavy;
            color: v.$blanco;
        }
        &.info{
            border-radius: 20px 0 20px 0;
            background: v.$verde;
            padding: 12px 16px;
            p{
                font-size: 1.5rem;
                @include m.television{
                    font-size: 1.35rem;
                }
                @media (max-width: 660px){
                    font-size: 1.1rem;
                }
            }
            @media (max-width: 660px){
                padding: 10px;
            }
        }
        &.logo{
            background: v.$blanco;
            border-radius: 20px 0 20px 0;
            @include m.max_width(250px);
            padding-block: 5px;
            @include m.desktop{
                @include m.max_width(200px);
            }
            img{
                display: block;
                margin: 0 auto;
                @include m.desktop{
                    @include m.max_width(120px);
                    max-height: 80px;
                    object-fit: contain;
                    object-position: center;
                }
            }
        }
        &.place{
            background: rgba($color: v.$azul, $alpha: 0.71);
            padding: 7px 14px;
            p{
                font-family: v.$ampleBold;
                font-size: 2.9rem;
                @include m.television{
                    font-size: 2.3rem;
                }
                @include m.desktop{
                    font-size: 1.4rem;
                }
            }
        }
        &.place-2{
            background: v.$blanco;
            padding: 5px 14px;
            p{
                font-size: 1.95rem;
                color: v.$azul;
                @include m.television{
                    font-size: 1.65rem;
                }
            }
        }
    }
}

.best_option{
    padding: 5rem 0;
    background: url(../../images/inicio/rombos.jpg) no-repeat;
    background-size: 100%;
    background-position: center left;
    background-attachment: fixed;
    @media (max-width: 900px){
        padding: 4rem 0;
    }
    .row{
        @include m.flex(space-between, 0);
        @media (max-width: 900px){
            gap: 24px;
            flex-direction: column-reverse;
        }
        .col{
            &:nth-child(1){
                width: 56%;
            }
            &:nth-child(2){
                width: 41%;
            }
            @media (max-width: 900px){
                width: 100% !important;
            }
            video, img{
                width: 100%;
                aspect-ratio: 16/9;
                height: auto;
                object-fit: contain;
                @include m.shadow(0, 3px, 6px, v.$sombra);
                border-radius: 20px 0 20px 0;
            }
        }
    }
    h2{
        color: v.$verde;
        font-family: v.$ampleBold;
        max-width: 290px;
        margin-bottom: 20px;
        @include m.television{
            max-width: 250px;
        }
        @media (max-width: 900px){
            max-width: 100%;
            margin-bottom: 14px;
        }
    }
    p{
        color: v.$azul;
        font-family: v.$medium;
        font-size: 1.4rem;
        max-width: 290px;
        @include m.television{
            max-width: 240px;
            font-size: 1.3rem;
        }
        @media (max-width: 900px){
            max-width: 100%;
        }
        @include m.tablet{
            font-size: 1.15rem;
        }
    }
}

.en_venta{
    padding: 5rem 0;
    h2{
        color: v.$verde;
        text-align: center;
        font-family: v.$ampleBold;
        margin-bottom: 3rem;
        position: relative;
        width: fit-content;
        margin-inline: auto;
        @include m.line(8px, v.$gris);
    }
    .contenedor{
        &:first-child{
            margin-bottom: 4rem;
        }
        &>p{
            color: v.$azul;
            font-size: 1.9rem;
            font-family: v.$heavy;
            text-align: center;
            @include m.television{
                font-size: 1.45rem;
            }
            @include m.tablet{
                font-size: 1.15rem;
            }
        }
        &>a{
            @include m.boton(50px, 1.35rem);
            @include m.max_width(340px);
            margin: 50px auto 0;
            @include m.desktop{
                margin: 40px auto 0;
                @include m.boton(44px, 1.15rem);
                @include m.max_width(290px);
            }
        }
    }
    .splide__slide{
        padding: 10px;
    }
    .splide__arrow{
        &--prev{
            left: -3em;
            @include m.desktop{
                left: -2em;
            }
        }
        &--next{
            right: -3em;
            @include m.desktop{
                right: -2em;
            }
        }
        svg{
            fill: rgba($color: v.$verde, $alpha: 0.5);
            color: rgba($color: v.$verde, $alpha: 0.5);
            width: 2em;
            height: 2em;
        }
    }
}

.ultimas_noticias{
    padding: 5rem 0;
    background: rgba($color: v.$verde, $alpha: 0.07);
    border-bottom: 6px solid v.$verde;
    h2{
        color: v.$verde;
        text-align: center;
        font-family: v.$ampleBold;
        margin-bottom: 3rem;
        position: relative;
        width: fit-content;
        margin-inline: auto;
        @include m.line(8px, v.$gris);
    }
    .row{
        @include m.flex(center, 20px);
    }
    .contenedor{
        &>a{
            @include m.boton(56px, 1.35rem);
            @include m.max_width(400px);
            margin-top: 70px;
            margin-inline: auto;
            @include m.television{
                @include m.boton(52px, 1.15rem);
                @include m.max_width(350px);
            }
            @include m.desktop{
                @include m.boton(44px, 1.15rem);
                @include m.max_width(290px);
            }
        }
    }
}

.sociales{
    padding: 6rem 0 2rem;
    .splide{
        &__slide{
            @include m.flex(center, 0);
        }
    }
    h2{
        font-family: v.$ampleBold;
        color: v.$azul;
        text-align: center;
        max-width: 500px;
        margin-inline: auto;
        @include m.television{
            max-width: 450px;
        }
        @include m.desktop{
            max-width: 370px;
        }
    }
    .social{
        margin: 20px auto 4.75rem;
        border-radius: 75px;
        padding: 1.2rem 1.5rem;
        background: #EEEEEE;
        border-radius: 75px;
        width: fit-content;
        @include m.tablet{
            width: 100%;
            border-radius: 0;
            padding: 1rem;
        }
        ul{
            width: 100%;
            @include m.flex(center, 16px);
            list-style: none;
            li{
                a{
                    @include m.contain(66px);
                    @include m.television{
                        @include m.contain(60px);
                    }
                    @include m.desktop{
                        @include m.contain(50px);
                    }
                    background: v.$verde;
                    display: grid !important;
                    border-radius: 50%;
                    place-items: center;
                    i{
                        color: v.$blanco;
                        font-size: 29px;
                        @include m.television{
                            font-size: 25px;
                        }
                        @include m.desktop{
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }
}