@use "base/mixins" as m;
@use "base/variables" as v;

.single{
    &_banner{
        background-size: cover !important;
        background-repeat: no-repeat !important;
        background-position: center !important;
        min-height: 56vh;
        padding-block: 2.5rem;
        @include m.flex(center, 0);
        p, h1{
            color: v.$blanco;
        }
        h1{
            font-family: v.$ampleBold;
            font-size: 3.25rem;
            margin: 0;
            @include m.television{
                font-size: 2.8rem;
            }
            @include m.desktop{
                font-size: 2.1rem;
            }
        }
        p{
            font-family: v.$bold;
            @include m.max_width(620px);
            line-height: 1.4em;
            margin: 1.75rem 0 2rem;
            @include m.television{
                margin: 1rem 0 1.5rem;
            }
        }
    }
    &_body{
        padding: 4.5rem 0 2rem;
        background: url(../../images/single/fondo.jpg) no-repeat;
        background-size: cover;
        .row{
            @include m.flex(space-between, 50px);
        }
        aside{
            @include m.max_width(300px);
            a{
                width: 100% !important;
                max-width: 100% !important;
                &:not(:last-child){
                    margin-bottom: 2rem;
                }
            }
            @include m.desktoplg{
                max-width: 100%;
                @include m.flex(space-between, 0);
                a{
                    max-width: 30% !important;
                }
            }
            @include m.tabletlg{
                max-width: 300px;
                margin: 0 auto;
                a{
                    max-width: 100% !important;
                }
            }
        }
        .col-8{
            @include m.max_width(calc(100% - 375px));
            @include m.desktoplg{
                max-width: 100%;
            }
        }
        .contenido{
            @include m.shadow(0,3px,6px,v.$sombra);
            width: 100%;
            padding: 40px 36px;
            border-radius: 12px;
            background: v.$blanco;

            li, p, span, a, b, strong{
                font-family: v.$bold;
                color: v.$gris2;
                line-height: 1.4em;
            }
            p{
                margin-bottom: 18px;
            }
            ul, ol{
                li:not(:last-child){
                    margin-bottom: 6px;
                }
            }
            img{
                width: 100%;
            }
            .wp-caption{
                margin-block: 30px;
                width: 100% !important;
                &-text{
                    display: block;
                    width: 100%;
                    background: v.$azul;
                    padding: 16px 14px;
                    font-style: italic;
                    color: v.$blanco;
                    line-height: 1.2em;
                }
            }
            &>a{
                @include m.boton(64px, 1.3rem);
                @include m.max_width(200px);
                @include m.shadow(0,3px,6px,v.$sombra);
                margin-inline: auto;
                border-radius: 0 20px 0 20px !important;
                @include m.television{
                    @include m.boton(56px, 1.15rem);
                    @include m.max_width(190px);
                }
            }
        }
        .hr{
            margin-top: 2rem;
            @include m.hr(v.$verde);
            margin-bottom: 3.5rem;
        }
    }
}

a.back{
    @include m.flex(flex-start, 10px);
    flex-wrap: nowrap;
    margin: 0;
    ion-icon{
        width: 30px;
        height: 30px;
        color: v.$blanco;
    }
    p{
        color: v.$blanco;
        font-family: v.$medium;
        margin: 0;
    }
}